<div class="site-headers">
  <h1>Itinerary</h1>
  <h4>Edit your It<span class="logo-color">i</span>nerary</h4>
</div>

<div class="edit-container itinerary-edition">
  <%= form_for(@itinerary) do |f| %>
    <% if @itinerary.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

        <ul>
        <% @itinerary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="itinerary-field-name">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: "Itinerary Name" %>
    </div>





    <div class="wrapper">
      <%= f.fields_for(:situations) do |ff| %>
         <div class="situation-fields">
           <div class="itinerary-field">
             <%= ff.label :time %><br>
             <%= ff.text_field :time, placeholder: "Time" %>
           </div>

           <div class="itinerary-field">
             <%= ff.label :task %><br>
             <%= ff.text_field :task, placeholder: "Task" %>
           </div>
         </div>
      <%end%>


    </div>






    <div class="actions">
      <% if current_page?(new_itinerary_path) %>
        <%= f.submit %>
        <button> <%= link_to 'Back', itineraries_path %> </button>
      <%else %>
        <%= f.submit %>
        <button> <%= link_to 'Back', itineraries_path %> </button>
        <button id="addTask">Add Field </button>
        <%= link_to '<i class="fa fa-times fa-2x"></i>'.html_safe, Itinerary.find(params[:id]), method: :delete, data: { confirm: 'Are you sure?' },class: "delete-x"  %>
      <% end  %>
    </div>



  <% end %>
</div>
