
<div class="site-headers">
  <h1>Itineraries</h1>
  <h4>Create Itineraries for Practice and Team Events</h4>
</div>


<div class="itinerary-container">
  <% @itineraries.each do |itinerary|  %>
    <div class="a-card">
      <div class="aheader">
        <h1 ><%= link_to itinerary.name, itinerary  %> <%= link_to '<i class="fa fa-pencil-square-o 2x"></i>'.html_safe, edit_itinerary_path(itinerary)%> </h1>
      </div>
      <div class="somecontent">
        <% itinerary.situations.each do |s| %>
          <section>
            <aside><%= s.time %></aside>
            <article><%= s.task %></article>
          </section>
        <% end  %>

      </div>
    </div>
  <% end %>
  <div id="itinerary-button">
    <button><%= link_to 'New Itinerary <i class="fa fa-plus-square"></i>'.html_safe, new_itinerary_path %></button>
  </div>
</div>



