<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @situation.time %>
</p>

<p>
  <strong>Task:</strong>
  <%= @situation.task %>
</p>

<%= link_to 'Edit', edit_situation_path(@situation) %> |
<%= link_to 'Back', situations_path %>
