<div class="depth-chart">
  <div class="site-headers">
    <h1>Depth Chart</h1>
    <h4>Manage Your Team Depth Chart Positions</h4>
  </div>
  <div class="cards">
    <% @positions.each do |position| %>
    <div class="card">
      <div class="card-image">
        <img src='<%= asset_path("position_#{position.id}.jpg") %>' alt="">
      </div>
      <div class="card-header">
        <%= position.code %>
      </div>
      <div class="card-copy">
        <ul class="sortable">
        <% position.get_team_players(@team).each do |player| %>
          <% player.roles.where(position_id: position.id).each do |r| %>
            <li class="ui-state-default", data-id="<%= r.id %>"><i class="fa fa-sort"></i> <%= link_to "#{r.get_player_name}", show_stats_player_path(r.get_player) %></li>
          <% end %>
        <% end %>
      </ul>
      </div>
    </div>
    <% end %>
    <%= link_to "<i class='fa fa-print'></i>".html_safe, print_index_positions_path %>
</div>
