<%= form_for(@defensive_stat) do |f| %>
  <% if @defensive_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@defensive_stat.errors.count, "error") %> prohibited this defensive_stat from being saved:</h2>

      <ul>
      <% @defensive_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tackle %><br>
    <%= f.number_field :tackle %>
  </div>
  <div class="field">
    <%= f.label :asst_tackle %><br>
    <%= f.number_field :asst_tackle %>
  </div>
  <div class="field">
    <%= f.label :combined_tackle %><br>
    <%= f.number_field :combined_tackle %>
  </div>
  <div class="field">
    <%= f.label :sacks %><br>
    <%= f.number_field :sacks %>
  </div>
  <div class="field">
    <%= f.label :yards_lost_sack %><br>
    <%= f.number_field :yards_lost_sack %>
  </div>
  <div class="field">
    <%= f.label :forced_fumble %><br>
    <%= f.number_field :forced_fumble %>
  </div>
  <div class="field">
    <%= f.label :fumble_recovery %><br>
    <%= f.number_field :fumble_recovery %>
  </div>
  <div class="field">
    <%= f.label :pass_defend %><br>
    <%= f.number_field :pass_defend %>
  </div>
  <div class="field">
    <%= f.label :interception %><br>
    <%= f.number_field :interception %>
  </div>
  <div class="field">
    <%= f.label :yards_return_interception %><br>
    <%= f.number_field :yards_return_interception %>
  </div>
  <div class="field">
    <%= f.label :touchdown %><br>
    <%= f.number_field :touchdown %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
