<%= form_for(@special_teams_stat) do |f| %>
  <% if @special_teams_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@special_teams_stat.errors.count, "error") %> prohibited this special_teams_stat from being saved:</h2>

      <ul>
      <% @special_teams_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field_goals_attempted %><br>
    <%= f.number_field :field_goals_attempted %>
  </div>
  <div class="field">
    <%= f.label :field_goals_made %><br>
    <%= f.number_field :field_goals_made %>
  </div>
  <div class="field">
    <%= f.label :field_goal_percentage %><br>
    <%= f.text_field :field_goal_percentage %>
  </div>
  <div class="field">
    <%= f.label :longest_field_goal %><br>
    <%= f.number_field :longest_field_goal %>
  </div>
  <div class="field">
    <%= f.label :range_one_to_nineteen %><br>
    <%= f.number_field :range_one_to_nineteen %>
  </div>
  <div class="field">
    <%= f.label :range_twenty_to_twentynine %><br>
    <%= f.number_field :range_twenty_to_twentynine %>
  </div>
  <div class="field">
    <%= f.label :range_thirty_to_thirtynine %><br>
    <%= f.number_field :range_thirty_to_thirtynine %>
  </div>
  <div class="field">
    <%= f.label :range_forty_to_fortynine %><br>
    <%= f.number_field :range_forty_to_fortynine %>
  </div>
  <div class="field">
    <%= f.label :range_fifty_plus %><br>
    <%= f.number_field :range_fifty_plus %>
  </div>
  <div class="field">
    <%= f.label :point_made %><br>
    <%= f.number_field :point_made %>
  </div>
  <div class="field">
    <%= f.label :point_attempt %><br>
    <%= f.number_field :point_attempt %>
  </div>
  <div class="field">
    <%= f.label :punt %><br>
    <%= f.number_field :punt %>
  </div>
  <div class="field">
    <%= f.label :total_yards_punt %><br>
    <%= f.number_field :total_yards_punt %>
  </div>
  <div class="field">
    <%= f.label :longest_punt %><br>
    <%= f.number_field :longest_punt %>
  </div>
  <div class="field">
    <%= f.label :average_yards_punt %><br>
    <%= f.text_field :average_yards_punt %>
  </div>
  <div class="field">
    <%= f.label :net_punt_average %><br>
    <%= f.text_field :net_punt_average %>
  </div>
  <div class="field">
    <%= f.label :blocked_punt %><br>
    <%= f.number_field :blocked_punt %>
  </div>
  <div class="field">
    <%= f.label :punts_in_redzone %><br>
    <%= f.number_field :punts_in_redzone %>
  </div>
  <div class="field">
    <%= f.label :touchbacks %><br>
    <%= f.number_field :touchbacks %>
  </div>
  <div class="field">
    <%= f.label :fair_catch %><br>
    <%= f.number_field :fair_catch %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
