<p id="notice"><%= notice %></p>

<p>
  <strong>Field goals attempted:</strong>
  <%= @special_teams_stat.field_goals_attempted %>
</p>

<p>
  <strong>Field goals made:</strong>
  <%= @special_teams_stat.field_goals_made %>
</p>

<p>
  <strong>Field goal percentage:</strong>
  <%= @special_teams_stat.field_goal_percentage %>
</p>

<p>
  <strong>Longest field goal:</strong>
  <%= @special_teams_stat.longest_field_goal %>
</p>

<p>
  <strong>Range one to nineteen:</strong>
  <%= @special_teams_stat.range_one_to_nineteen %>
</p>

<p>
  <strong>Range twenty to twentynine:</strong>
  <%= @special_teams_stat.range_twenty_to_twentynine %>
</p>

<p>
  <strong>Range thirty to thirtynine:</strong>
  <%= @special_teams_stat.range_thirty_to_thirtynine %>
</p>

<p>
  <strong>Range forty to fortynine:</strong>
  <%= @special_teams_stat.range_forty_to_fortynine %>
</p>

<p>
  <strong>Range fifty plus:</strong>
  <%= @special_teams_stat.range_fifty_plus %>
</p>

<p>
  <strong>Point made:</strong>
  <%= @special_teams_stat.point_made %>
</p>

<p>
  <strong>Point attempt:</strong>
  <%= @special_teams_stat.point_attempt %>
</p>

<p>
  <strong>Punt:</strong>
  <%= @special_teams_stat.punt %>
</p>

<p>
  <strong>Total yards punt:</strong>
  <%= @special_teams_stat.total_yards_punt %>
</p>

<p>
  <strong>Longest punt:</strong>
  <%= @special_teams_stat.longest_punt %>
</p>

<p>
  <strong>Average yards punt:</strong>
  <%= @special_teams_stat.average_yards_punt %>
</p>

<p>
  <strong>Net punt average:</strong>
  <%= @special_teams_stat.net_punt_average %>
</p>

<p>
  <strong>Blocked punt:</strong>
  <%= @special_teams_stat.blocked_punt %>
</p>

<p>
  <strong>Punts in redzone:</strong>
  <%= @special_teams_stat.punts_in_redzone %>
</p>

<p>
  <strong>Touchbacks:</strong>
  <%= @special_teams_stat.touchbacks %>
</p>

<p>
  <strong>Fair catch:</strong>
  <%= @special_teams_stat.fair_catch %>
</p>

<%= link_to 'Edit', edit_special_teams_stat_path(@special_teams_stat) %> |
<%= link_to 'Back', special_teams_stats_path %>
