<div class="site-headers sign-up">
  <h1>Recover Password</h1>
</div>

<div class="edit-container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field forgot-pw">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Reset My Password Now" %>
      </div>
    <% end %>
</div>
<% render "devise/shared/links" %>
