<table class="tables">
  <thead>
    <tr>
      <th>Date</th>
      <th>Opponent</th>
      <th>Location</th>
      <th>Time</th>
      <th>Home/Away</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= (game.time).strftime("%D") %></td>
        <td><%= game.opponent %></td>
        <td>
          <% if game.home %>
          <%= game.location %>
          <% else %>
          <%= "@ #{game.location}" %>
          <% end %>
        </td>
        <td><%= (game.time).strftime("%l:%M PM") %></td>
        <td>
          <% if game.home %>
          <%= "Home" %>
          <% else %>
          <%= "Away" %>
          <% end %>
        </td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Add Player Stats', player_stats_game_path(game)%></td>
        <td><%= link_to 'Add Game Stats', game_stats_game_path(game) %>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
<p id="notice"><%= notice %></p>
