<div class="show-container">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Opponent:</strong>
      <%= @game.opponent %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @game.location %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= (@game.time).strftime("%D") %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= (@game.time).strftime("%l:%M PM") %>
    </p>

    <p>
      <% if @game.home %>
      <%= "Home Game" %>
      <% else %>
      <%= "Away Game" %>
      <% end %>
    </p>

    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Stat Center', games_path %> |
    <%= link_to 'Calendar', calendars_index_path %>

</div>

<div class="show-player-stats">
  <table>
    <thead>
      <tr>
        <% @stats.each do |s| %>
          <th><%= s.stat_type.name %></th>
        <% end %>
      </tr>
    </thead>
      <tr>
        <% @stats.each do |s| %>
          <td><%= s.value %></td>
        <% end %>
      </tr>
  </table>
</div>
