<div class="stats">
    <h1>future player stats page</h1>

    <%= form_tag(make_stats_game_path) do %>
      <% @positions.each do |position| %>
        <h3><%= position.name %></h4>
        <% position.players.each do |p| %>
        <h1><%= p.first_name %></h1>
        <% @stat_types = p.get_stat_types %>
          <% @stat_types.each do |s|%>
            <div class="player-stats-field">
              <div class="field">
                <%= label_tag s.name %>
                <%= text_field_tag "stat[#{p.id}][#{s.id}]" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
          <div id="player-stat-submit">
            <%= submit_tag "Submit Stats" %>
          </div>
    <% end %>
</div>
