<!--head image-->
<div id="gatekeeper">

  <div class="home-image">
    <h1>Welcome to Grid<span class="logo">i</span>ron</h1>

  <!--login modal-->

    <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger home-button">Login/Sign Up</div>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner login-modal">
          <div class="modal-close" for="modal-1"></div>
          <div id="login-container">
            <h1>Log in</h1>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, class: "login-field-head" %><br/>
                <%= f.email_field  :email, autofocus: true, placeholder: "Email"  %>
              </div>

              <div class="field">
                <%= f.label :password, class: "login-field-head" %><br />
                <%= f.password_field :password, autocomplete: "off", placeholder:"Password" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- grid items on gatekeeper page-->
  <div id="gatekeeper-ribbon">
    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-content">
          <h2> <i class="fa fa-globe "></i>Analyze</h2>
          <p>Statistics are vital  and tracking statistics is a must in order to keep a competitive edge. Track your statistics and view them in meaningful ways.</p>
        </div>
      </li>
      <li class="bullet">

        <div class="bullet-content">
          <h2><i class="fa fa-bar-chart "></i>Visualize</h2>
          <p>Gridiron's user interface is designed to be simple to understand so that your time using Gridiron is fast and efficient.</p>
        </div>
      </li>
      <li class="bullet">
        <!--<div class="bullet-icon bullet-icon-3">-->
          <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">-->
        <!--</div>-->
        <div class="bullet-content">
          <h2><i class="fa fa-cog "></i>Strategize</h2>
          <p> Once you step off the practice field log in and put gridiron to work. Gridiron's tools help you manage your team with ease. </p>
        </div>
      </li>
    </ul>
  </div>



</div>




