<div class="edit-container">
    <%= form_for(@player) do |f| %>
      <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

          <ul>
          <% @player.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :jersey_number %><br>
        <%= f.number_field :jersey_number %>
      </div>
      <div class="field">
        <%= f.label :phone_number %><br>
        <%= f.text_field :phone_number %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :weight %><br>
        <%= f.text_field :weight %>
      </div>
      <div class="field">
        <%= f.label :height %><br>
        <%= f.text_field :height %>
      </div>
      <div class="field">
        <%= f.label :position %><br>
        <%= f.collection_select :position_ids, @positions.to_a.collect, :id, :name  %>
      </div>

      <div class="field">
        <%= f.label :class_status_id %><br>
        <%= f.collection_select :class_status_id, @class_statuses.to_a.collect, :id, :name%>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>

      <%= link_to 'Show', @player %> |
      <%= link_to 'Back', players_path %>
    <% end %>
</div>
