

<div id="player-index">
  <div class="site-headers">
    <h1>Roster</h1>
    <h4>Create and Ed<span class="logo-color">i</span>t Player Information </h4>
  </div>
  <table class="tables">
    <thead>
      <tr>
        <th colspan="2">Name</th>
        <th>Jersey number</th>
        <th colspan="2">Contact </th>
        <th>Weight</th>
        <th>Height</th>
        <th>Position</th>
        <th>Class status</th>
        <th colspan="4">Table Options</th>
      </tr>
    </thead>


    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td colspan="2"><%= player.first_name %> <%= player.last_name %></td>
          <td><%= player.jersey_number %></td>
          <td colspan="2"><%= player.phone_number %><br>
               <%= player.email %>
          </td>
          <td><%= player.weight %></td>
          <td><%= player.height %></td>
          <td>
          <% player.positions.each do |p| %>
            <%= p.name %>
          <% end %>
          </td>
          <td><%= player.class_status.name %></td>
          <td><%= link_to 'Athlete Info', player %></td>
          <td><%= link_to 'Edit/Add Positions', add_position_player_path(player) %>

          </td>
          <td><%= link_to "Show Stats", show_stats_player_path(player) %></td>
          <td class="icons"><%= link_to '<i class="fa fa-pencil-square-o "></i>'.html_safe, edit_player_path(player) %> <%# link_to '<i class="fa fa-times fa-2x"></i>'.html_safe, player, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '<button class="form-button">New Player</button>'.html_safe, new_player_path %>

</div>
