<div class="show-player-stats">

<div class="site-headers">
  <h1> <%= @player.positions.first.name %> <%= @player.first_name %> <%= @player.last_name %></h1>
  <h4>Showing Game Stats for <%= @player.first_name %> <%= @player.last_name %> </h4>
</div>
<% @games.each do |g| %>

    <table class="tables">
      <h3><%= g.opponent %></h3>
      <thead>
        <tr>
      <% g.stats.where(player_id: @player.id).each do |s| %>
          <th><%= s.stat_type.name %></td>
      <% end %>
        </tr>
      </thead>
        <tr>
      <% g.stats.where(player_id: @player.id).each do |s| %>
         <td><%= s.value %></td>
      <% end %>
        </tr>
    </table>

<% end %>

</div>
