<div class="show-container">
  <ul class="show-list"></ul>
        <p id="notice"><%= notice %></p>

        <li>
          <strong>First name:</strong>
          <%= @player.first_name %>
        </li>

        <li>
          <strong>Last name:</strong>
          <%= @player.last_name %>
        </li>

        <li>
          <strong>Jersey number:</strong>
          <%= @player.jersey_number %>
        </li>

        <li>
          <strong>Phone number:</strong>
          <%= @player.phone_number %>
        </li>

        <li>
          <strong>Email:</strong>
          <%= @player.email %>
        </li>

        <li>
          <strong>Weight:</strong>
          <%= @player.weight %>
        </li>

        <li>
          <strong>Height:</strong>
          <%= @player.height %>
        </li>

        <li>
          <strong>Position:</strong>
          <%= @player.position.name %>
        </li>

        <li>
          <strong>Class status:</strong>
          <%= @player.class_status.name %>
        </li>

        <%= link_to 'Edit', edit_player_path(@player) %> |
        <%= link_to 'Back', players_path %>
  </ul>
</div>
