<div class="site-headers">
  <h1>Player Information</h1>
  <h4>Showing Informat<span class="logo-color">i</span>on for <%= @player.first_name %> <%= @player.last_name %></h4>
</div>
<div class="show-container">
  <h3> <%= @player.first_name %> <%= @player.last_name %>:  <%= @player.primary_position_name %></h3>
    <br>
  <div class="side-image-container"></div>
  <ul class="show-list">

        <% if @player.uploaded_file_file_name %>
        <li>
          <%= image_tag @player.uploaded_file %>
        </li>
        <% end %>

        <li>
          <strong>Jersey number:</strong>
          <%= @player.jersey_number %>
        </li>

        <li>
          <strong>Phone number:</strong>
          <%= @player.phone_number %>
        </li>

        <li>
          <strong>Email:</strong>
          <%= @player.email %>
        </li>

        <li>
          <strong>Weight:</strong>
          <%= @player.weight %>
        </li>

        <li>
          <strong>Height:</strong>
          <%= @player.height %>
        </li>

        <li>
          <strong>Positions:</strong>
          <% @player.positions.each do |p| %>
            <%= p.name %>
          <% end %>
        </li>

        <li>
          <strong>Class status:</strong>
          <%= @player.class_name %>
        </li>



  </ul>
  <div class="nav-bottom">
    <%= link_to 'Edit', edit_player_path(@player) %> |
    <%= link_to 'Back', players_path %>
    <%= link_to "<i class='fa fa-print'></i>".html_safe, print_show_player_path(@player) %>
  </div>
</div>
