<div class="show-container">
  <h3><%= @player.first_name %> <%= @player.last_name %> </h3>
</div>
<% @games.each do |g| %>
  <div class="show-container">
    <h3><%= g.opponent %></h3>
    <% g.stats.where(player_id: @player.id).each do |s| %>
       <p><%= s.stat_type.name %> <%= s.value %></p>
     <% end %>
   </div>
<% end %>
