<div class="show-player-stats">
<h3><%= @player.first_name %> <%= @player.last_name %> </h3>
<% @games.each do |g| %>

    <table class="tables">
      <h3><%= g.opponent %></h3>
      <thead>
        <tr>
      <% g.stats.where(player_id: @player.id).each do |s| %>
          <th><%= s.stat_type.name %></td>
      <% end %>
        </tr>
      </thead>
        <tr>
      <% g.stats.where(player_id: @player.id).each do |s| %>
         <td><%= s.value %></td>
      <% end %>
        </tr>
    </table>

<% end %>

</div>
