<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>Team Statistical Overview</h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


<div class="flex-boxes">


  <div class="flex-box ">
    <h1 class="flex-title">Offensive Leaders</h1>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>200yd Passing</article>
    </section>
    <br>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>200yd Rushing</article>
    </section>
    <br>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>200yd Rec.</article>
    </section>
    <br>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>25 Catches</article>
    </section>
  </div>





  <div class="flex-box flex-box-big">
    <h1 class="flex-title">Offensive Team Stats</h1>
    <section>
      <aside>Passing Yards</aside>
      <article>n%</article>

      <aside>Passing Touchdowns</aside>
      <article><%= @team.passing_touchdowns %></article>

      <aside>Rushing Yards</aside>
      <article>n%</article>

      <aside>Rushing Touchdowns</aside>
      <article>n%</article>
    </section>
    <br>
    <br>
    <section>
      <aside>3rd Down Efficiency</aside>
      <article>n%</article>

      <aside>4th Down Efficiency</aside>
      <article>n%</article>

      <aside>Two Point Efficiency </aside>
      <article><%= @team.two_point_eff %>%</article>

      <aside>Red Zone Efficiency</aside>
      <article><%= @team.red_zone_eff %>%</article>
    </section>
  </div>







  <div class="flex-box">
    <h1 class="flex-title">Special Teams Stats</h1>
    <section class="small">
      <aside> Kick Return Avg.</aside>
      <article> 20yd </article>
    </section>
    <br>
    <section class="small">
      <aside>Punt Return Avg.</aside>
      <article>5yd</article>
    </section>
    <br>
    <section class="small">
      <aside>FG Efficiency</aside>
      <article> 80% </article>
    </section>
    <br>
    <section class="small">
      <aside>Kicks/Punts Blocked</aside>
      <article> 4</article>
    </section>
  </div>





  <div class="flex-box ">
    <h1 class="flex-title">Deffensive Leaders</h1>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>10 Solo Tackles</article>
    </section>
    <br>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>5 Asst. Tackle</article>
    </section>
    <br>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>5 Sacks </article>
    </section>
    <br>
    <section class="small">
      <aside>A Guys Name</aside>
      <article>20 Deflections</article>
    </section>
  </div>



  <div class="flex-box flex-box-big">
    <h1 class="flex-title">Defensive Team Stats</h1>
    <section>
      <aside>Tackles</aside>
      <article>n%</article>

      <aside>Sacks</aside>
      <article>n%</article>

      <aside>3rd Down Stops</aside>
      <article>n%</article>

      <aside>4th Down Stops</aside>
      <article>n%</article>
    </section>
    <br>
    <br>
    <section>
      <aside>Takeaways</aside>
      <article>n%</article>

      <aside>Forced Fumbles</aside>
      <article>n%</article>

      <aside>Fumble Recoveries</aside>
      <article>n%</article>

      <aside>Interceptions</aside>
      <article>n%</article>
    </section>
  </div>



  <div class="flex-box">
    <h1 class="flex-title">Next Event?</h1>
    <p>Some game at some place at some time. Maybe...</p>
  </div>
</div>


<div id="schedule-dashboard">
  <table id="js-fadeInElement" class="tables table-homepage fade-in-element " >
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Location</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @games.each do |game| %>
      <tr>
        <td> <%= game.opponent %> </td>
        <td> <%= game.location %> </td>

        <td> <%= (game.time).strftime("%D") %> </td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
