<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>Get an Overview of Your Team on This Page</h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


<div id="stat-dashboard">
  <h1> Single Game Leaders</h1>

  <h3 class="lead-category"> Leading Passer</h3>
  <% leading_pass = Player.lead_player_for(StatType.find_by_name("Passing Yards")) %>
  <h4> <%= leading_pass[:player_name] %> </h4>
  <h4> <%= leading_pass[:value] %> </h4>

  <h3 class="lead-category"> Leading Rusher</h3>
  <% leading_pass = Player.lead_player_for(StatType.find_by_name("Rushing Yards")) %>
  <h4> <%= leading_pass[:player_name] %> </h4>
  <h4> <%= leading_pass[:value] %> </h4>

</div>


<section id="cool-boxes-container">
  <article>
    <span class="awesome-box"><section>Hello World</section></span>
    <span class="awesome-box"><section>Hello World</section> </span>
    <span class="awesome-box"><section>Hello World</section> </span>
  </article>
</section>









  <!--<div id="schedule-dashboard">-->


    <!--<table id="js-fadeInElement" class="tables table-homepage fade-in-element" >-->
      <!--<thead>-->
        <!--<tr>-->
          <!--<th>Opponent</th>-->
          <!--<th>Location</th>-->
          <!--<th>Date</th>-->
        <!--</tr>-->
      <!--</thead>-->


      <!--<tbody>-->
        <!--<% Game.all.each do |game| %>-->
          <!--<tr>-->
            <!--<td> <%= game.opponent %> </td>-->
            <!--<td> <%= game.location %> </td>-->
            <!--<td> <%= game.time %> </td>-->
          <!--</tr>-->
        <!--<% end %>-->
      <!--</tbody>-->
    <!--</table>-->

    <!--<div class="dash-table-picture"> </div>-->

  <!--</div>-->




