<div>

</div>


<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>Team Statistical Overview</h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


<div class="outer">
  <div class="inner-left">
    <div id="schedule-dashboard">
      <div class="flex-boxes">
        <div class="flex-box ">
          <h1 class="flex-title">Season Schedule</h1>
          <table class="tables" >
            <thead>
            <tr>
              <th>Opponent</th>
              <th>Location</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>

            <% @games.sort{|a,b| a.time <=> b.time}.each do |game| %>
              <tr>
                <td>
                <% if game.home %>
                <%= "vs. #{game.opponent}" %>
                <% else %>
                <%= "@ #{game.opponent}" %>
                <% end %>
                </td>
                <td>
                  <%= game.location %>
                </td>

                <td> <%= (game.time).strftime("%D") %> </td>

              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-right">
    <div class="flex-boxes">


      <div class="flex-box ">
        <h1 class="flex-title">Offensive Leaders</h1>
        <section class="small">
          <aside><%= @team.get_passer %></aside>
          <article><%= @team.most_passing_yards %> Passing</article>
        </section>
        <br>
        <section class="small">
          <aside><%= @team.get_rusher %></aside>
          <article><%= @team.most_rushing_yards %> Rushing</article>
        </section>
        <br>
        <section class="small">
          <aside><%= @team.get_receiver_yards %> </aside>
          <article><%= @team.most_receiving_yards %> Recieving</article>
        </section>
        <br>
        <section class="small">
          <aside><%= @team.get_receiver_catches %></aside>
          <article><%= @team.most_catches %> #Catches</article>
        </section>
      </div>





      <div class="flex-box flex-box-big">
        <h1 class="flex-title">Offensive Team Stats</h1>
        <section>
          <aside>Passing Yards</aside> <article><%= @team.passing_yards %></article>
          <aside>Passing TD</aside> <article><%= @team.passing_touchdowns %></article>
          <aside>Rushing Yards</aside> <article><%= @team.rushing_yards %></article>
        </section>
        <br>
        <br>
        <section>
          <aside>Rushing TD</aside> <article><%= @team.rushing_touchdowns %></article>
          <aside>3rd Down Efficiency</aside> <article><%= @team.third_down_eff %>%</article>
          <aside>4th Down Efficiency</aside> <article><%= @team.fourth_down_eff %>%</article>
        </section>
        <br>
        <br>
        <section>
          <aside>Red Zone Efficiency</aside> <article><%= @team.red_zone_eff %>%</article>
          <aside>Turnovers</aside> <article><%= @team.total_turnovers %></article>
          <aside>Total Receptions</aside> <article><%= @team.total_receptions %></article>

        </section>
      </div>







      <div class="flex-box">
        <h1 class="flex-title">Special Teams Stats</h1>
        <section class="small">
          <aside>2pt Efficiency </aside>
          <article><%= @team.two_point_eff %>%</article>
        </section>
        <br>
        <section class="small">
          <aside> Kick Return Yds</aside>
          <article><%= @team.total_kick_return_yards %></article>
        </section>
        <br>
        <section class="small">
          <aside>FG Efficiency</aside>
          <article><%= @team.field_goal_eff %>% </article>
        </section>
        <br>
        <section class="small">
          <aside> Punts/Kicks Blocked</aside>
          <article> <%= @team.total_blocked_kicks %></article>
        </section>
      </div>





      <div class="flex-box ">
        <h1 class="flex-title">Defensive Leaders</h1>
        <section class="small">
          <aside><%= @team.get_tackler %></aside>
          <article><%= @team.most_tackles %> Solo Tackles</article>
        </section>
        <br>
        <section class="small">
          <aside><%= @team.get_asst_tackler %></aside>
          <article><%= @team.most_asst_tackles %> Asst. Tackle</article>
        </section>
        <br>
        <section class="small">
          <aside><%= @team.get_sacker %></aside>
          <article><%= @team.most_sacks %> Sacks </article>
        </section>
        <br>
        <section class="small">
          <aside><%= @team.get_interceptor %></aside>
          <article><%= @team.most_interceptions %> Int.</article>
        </section>
      </div>



      <div class="flex-box flex-box-big">
        <h1 class="flex-title">Defensive Team Stats</h1>


          <section>
            <aside>Tackles</aside> <article><%= @team.total_tackles %></article>
            <aside>Sacks</aside> <article><%= @team.total_sacks %></article>
            <aside>3rd Down Stops</aside> <article><%= @team.total_third_down_stops %></article>
          </section>
          <br>
          <br>
          <section>
            <aside>4th Down Stops</aside> <article><%= @team.total_fourth_down_stops %></article>
            <aside>Takeaways</aside> <article><%= @team.total_takeaways %></article>
            <aside>Forced Fumbles</aside> <article><%= @team.total_forced_fumbles %></article>
          </section>
          <br>
          <br>
          <section>
            <aside>Fumble Recoveries</aside> <article><%= @team.total_fumble_recoveries %></article>
            <aside>Interceptions</aside> <article><%= @team.total_interceptions %></article>
            <aside>Defensive TD</aside> <article><%= @team.defensive_touchdowns %></article>
          </section>
      </div>
      <div class="flex-box">
        <h1 class="flex-title">Current Weather Conditions</h1>
          <script type="text/javascript">
            $(document).ready(function() {
              $.simpleWeather({
                <% if @team.location %>
                  <% location = @team.location %>
                <% else %>
                  <% @games.each do |game| %>
                    <% if game.home %>
                      <% location = game.location %>
                      <% break %>
                    <% end %>
                  <% end %>
                <% end %>

                location: '<%= location %>',
                woeid: '',
                unit: 'f',
                success: function(weather) {
                  html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
                  html += '<ul><li class="currently">'+weather.currently+'</li>';
                  html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li>';
                  html += '<li>'+weather.city+', '+weather.region+'</li></ul>'
                  $("#weather").html(html);
                },
                error: function(error) {
                  $("#weather").html('<p>'+error+'</p>');
                }
              });
            });
          </script>
          <div id="weather"></div>
      </div>
    </div>
  </div>
</div>
