<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>Get an Overview of Your Team on This Page</h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


<div id="dash-tables">
  <table  class="tables apple fade-in-element" >
    <thead>
     <tr>
        <th>Category</th>
        <th>Player</th>
        <th>Statistic</th>
     </tr>
    </thead>


    <tbody>
    <% leading_pass = Player.lead_player_for(StatType.find_by_name("Passing Yards")) %>
    <% leading_rush = Player.lead_player_for(StatType.find_by_name("Rushing Yards")) %>
    <% leading_rec = Player.lead_player_for(StatType.find_by_name("Receiving Yards")) %>
    <tr>
      <td> Lead Passer </td>
      <td> <%= leading_pass[:player_name] %> </td>
      <td> <%= leading_pass[:value] %> yards  </td>
    </tr>
    <tr>
      <td> Lead Rusher </td>
      <td> <%= leading_rush[:player_name] %> </td>
      <td> <%= leading_rush[:value] %> yards  </td>
    </tr>
    <tr>
      <td> Lead Receiver </td>
      <td> <%= leading_rec[:player_name] %> </td>
      <td> <%= leading_rec[:value] %> yards  </td>
    </tr>
    </tbody>
  </table>

  <table  class="tables apple fade-in-element" >
    <thead>
    <tr>
      <th>Category</th>
      <th>Player</th>
      <th>Statistic</th>
    </tr>
    </thead>


    <tbody>
     <tr>
       <td> Offensive Yards </td>
       <td> game </td>
       <td> num </td>
     </tr>
     <tr>
       <td> Yards Given Up </td>
       <td> game </td>
       <td> num </td>
     </tr>
    </tbody>
  </table>

  <table  class="tables apple fade-in-element" >
    <thead>
    <tr>
      <th>Thing 1</th>
      <th>Thing 2</th>
      <th>Thing 3</th>
    </tr>
    </thead>


    <tbody>
    <tr>
      <td> stuff </td>
      <td> stuff </td>
      <td> stuff  </td>
    </tr>
    <tr>
      <td> stuff </td>
      <td> stuff </td>
      <td> stuff  </td>
    </tr>
    </tbody>
  </table>

</div>







<div id="stat-dashboard">
    <h3> Team Statistics</h3>
      <section>
        <aside>Red Zone Efficiency</aside>
        <article>68%</article>

        <aside>Red Zone Efficiency</aside>
        <article>68%</article>

        <aside>Red Zone Efficiency</aside>
        <article>68%</article>

        <aside>Red Zone Efficiency</aside>
        <article>68%</article>
      </section>

    <section>
      <aside>Red Zone Efficiency</aside>
      <article>68%</article>

      <aside>Red Zone Efficiency</aside>
      <article>68%</article>

      <aside>Red Zone Efficiency</aside>
      <article>68%</article>

      <aside>Red Zone Efficiency</aside>
      <article>68%</article>
    </section>



    </div>


<section id="cool-boxes-container">
  <article>
    <span class="awesome-box"><section>Hello World</section></span>
    <span class="awesome-box"><section>Hello World</section> </span>
    <span class="awesome-box"><section>Hello World</section> </span>
  </article>
</section>









  <div id="schedule-dashboard">


    <table id="js-fadeInElement" class="tables table-homepage fade-in-element " >
      <thead>
        <tr>
          <th>Opponent</th>
          <th>Location</th>
          <th>Date</th>
        </tr>
      </thead>


      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td> <%= game.opponent %> </td>
            <td> <%= game.location %> </td>
            <td> <%= game.time %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
