<%= form_for(@formation) do |f| %>
  <% if @formation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formation.errors.count, "error") %> prohibited this formation from being saved:</h2>

      <ul>
      <% @formation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= fields_for(:plays) do |ff| %>
    <div class="field">
      <%= ff.label :name %><br>
      <%= ff.text_field :name %>
    </div>
    <div class="field">
      <%= ff.label :pdf_file %><br>
      <%= ff.file_field :pdf_file %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
