<%= form_for(@offensive_stat) do |f| %>
  <% if @offensive_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offensive_stat.errors.count, "error") %> prohibited this offensive_stat from being saved:</h2>

      <ul>
      <% @offensive_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passing_yards %><br>
    <%= f.number_field :passing_yards %>
  </div>
  <div class="field">
    <%= f.label :passing_attempts %><br>
    <%= f.number_field :passing_attempts %>
  </div>
  <div class="field">
    <%= f.label :pass_completions %><br>
    <%= f.number_field :pass_completions %>
  </div>
  <div class="field">
    <%= f.label :completion_percentage %><br>
    <%= f.text_field :completion_percentage %>
  </div>
  <div class="field">
    <%= f.label :twenty_pass %><br>
    <%= f.number_field :twenty_pass %>
  </div>
  <div class="field">
    <%= f.label :passing_td %><br>
    <%= f.number_field :passing_td %>
  </div>
  <div class="field">
    <%= f.label :longest_pass %><br>
    <%= f.number_field :longest_pass %>
  </div>
  <div class="field">
    <%= f.label :sacks %><br>
    <%= f.number_field :sacks %>
  </div>
  <div class="field">
    <%= f.label :interceptions %><br>
    <%= f.number_field :interceptions %>
  </div>
  <div class="field">
    <%= f.label :rushing_yards %><br>
    <%= f.number_field :rushing_yards %>
  </div>
  <div class="field">
    <%= f.label :longest_rush %><br>
    <%= f.number_field :longest_rush %>
  </div>
  <div class="field">
    <%= f.label :rushing_attempts %><br>
    <%= f.number_field :rushing_attempts %>
  </div>
  <div class="field">
    <%= f.label :twenty_rush %><br>
    <%= f.number_field :twenty_rush %>
  </div>
  <div class="field">
    <%= f.label :average_yards_rush %><br>
    <%= f.text_field :average_yards_rush %>
  </div>
  <div class="field">
    <%= f.label :rushing_td %><br>
    <%= f.number_field :rushing_td %>
  </div>
  <div class="field">
    <%= f.label :fumbles %><br>
    <%= f.number_field :fumbles %>
  </div>
  <div class="field">
    <%= f.label :receiving_yards %><br>
    <%= f.number_field :receiving_yards %>
  </div>
  <div class="field">
    <%= f.label :receptions %><br>
    <%= f.number_field :receptions %>
  </div>
  <div class="field">
    <%= f.label :targets %><br>
    <%= f.number_field :targets %>
  </div>
  <div class="field">
    <%= f.label :drops %><br>
    <%= f.number_field :drops %>
  </div>
  <div class="field">
    <%= f.label :receiving_td %><br>
    <%= f.number_field :receiving_td %>
  </div>
  <div class="field">
    <%= f.label :twenty_reception %><br>
    <%= f.number_field :twenty_reception %>
  </div>
  <div class="field">
    <%= f.label :longest_reception %><br>
    <%= f.number_field :longest_reception %>
  </div>
  <div class="field">
    <%= f.label :average_reception %><br>
    <%= f.number_field :average_reception %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
