<p id="notice"><%= notice %></p>

<h1>Listing Offensive Stats</h1>

<table>
  <thead>
    <tr>
      <th>Passing yards</th>
      <th>Passing attempts</th>
      <th>Pass completions</th>
      <th>Completion percentage</th>
      <th>Twenty pass</th>
      <th>Passing td</th>
      <th>Longest pass</th>
      <th>Sacks</th>
      <th>Interceptions</th>
      <th>Rushing yards</th>
      <th>Longest rush</th>
      <th>Rushing attempts</th>
      <th>Twenty rush</th>
      <th>Average yards rush</th>
      <th>Rushing td</th>
      <th>Fumbles</th>
      <th>Receiving yards</th>
      <th>Receptions</th>
      <th>Targets</th>
      <th>Drops</th>
      <th>Receiving td</th>
      <th>Twenty reception</th>
      <th>Longest reception</th>
      <th>Average reception</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offensive_stats.each do |offensive_stat| %>
      <tr>
        <td><%= offensive_stat.passing_yards %></td>
        <td><%= offensive_stat.passing_attempts %></td>
        <td><%= offensive_stat.pass_completions %></td>
        <td><%= offensive_stat.completion_percentage %></td>
        <td><%= offensive_stat.twenty_pass %></td>
        <td><%= offensive_stat.passing_td %></td>
        <td><%= offensive_stat.longest_pass %></td>
        <td><%= offensive_stat.sacks %></td>
        <td><%= offensive_stat.interceptions %></td>
        <td><%= offensive_stat.rushing_yards %></td>
        <td><%= offensive_stat.longest_rush %></td>
        <td><%= offensive_stat.rushing_attempts %></td>
        <td><%= offensive_stat.twenty_rush %></td>
        <td><%= offensive_stat.average_yards_rush %></td>
        <td><%= offensive_stat.rushing_td %></td>
        <td><%= offensive_stat.fumbles %></td>
        <td><%= offensive_stat.receiving_yards %></td>
        <td><%= offensive_stat.receptions %></td>
        <td><%= offensive_stat.targets %></td>
        <td><%= offensive_stat.drops %></td>
        <td><%= offensive_stat.receiving_td %></td>
        <td><%= offensive_stat.twenty_reception %></td>
        <td><%= offensive_stat.longest_reception %></td>
        <td><%= offensive_stat.average_reception %></td>
        <td><%= link_to 'Show', offensive_stat %></td>
        <td><%= link_to 'Edit', edit_offensive_stat_path(offensive_stat) %></td>
        <td><%= link_to 'Destroy', offensive_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offensive stat', new_offensive_stat_path %>
