<p id="notice"><%= notice %></p>

<p>
  <strong>Passing yards:</strong>
  <%= @offensive_stat.passing_yards %>
</p>

<p>
  <strong>Passing attempts:</strong>
  <%= @offensive_stat.passing_attempts %>
</p>

<p>
  <strong>Pass completions:</strong>
  <%= @offensive_stat.pass_completions %>
</p>

<p>
  <strong>Completion percentage:</strong>
  <%= @offensive_stat.completion_percentage %>
</p>

<p>
  <strong>Twenty pass:</strong>
  <%= @offensive_stat.twenty_pass %>
</p>

<p>
  <strong>Passing td:</strong>
  <%= @offensive_stat.passing_td %>
</p>

<p>
  <strong>Longest pass:</strong>
  <%= @offensive_stat.longest_pass %>
</p>

<p>
  <strong>Sacks:</strong>
  <%= @offensive_stat.sacks %>
</p>

<p>
  <strong>Interceptions:</strong>
  <%= @offensive_stat.interceptions %>
</p>

<p>
  <strong>Rushing yards:</strong>
  <%= @offensive_stat.rushing_yards %>
</p>

<p>
  <strong>Longest rush:</strong>
  <%= @offensive_stat.longest_rush %>
</p>

<p>
  <strong>Rushing attempts:</strong>
  <%= @offensive_stat.rushing_attempts %>
</p>

<p>
  <strong>Twenty rush:</strong>
  <%= @offensive_stat.twenty_rush %>
</p>

<p>
  <strong>Average yards rush:</strong>
  <%= @offensive_stat.average_yards_rush %>
</p>

<p>
  <strong>Rushing td:</strong>
  <%= @offensive_stat.rushing_td %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @offensive_stat.fumbles %>
</p>

<p>
  <strong>Receiving yards:</strong>
  <%= @offensive_stat.receiving_yards %>
</p>

<p>
  <strong>Receptions:</strong>
  <%= @offensive_stat.receptions %>
</p>

<p>
  <strong>Targets:</strong>
  <%= @offensive_stat.targets %>
</p>

<p>
  <strong>Drops:</strong>
  <%= @offensive_stat.drops %>
</p>

<p>
  <strong>Receiving td:</strong>
  <%= @offensive_stat.receiving_td %>
</p>

<p>
  <strong>Twenty reception:</strong>
  <%= @offensive_stat.twenty_reception %>
</p>

<p>
  <strong>Longest reception:</strong>
  <%= @offensive_stat.longest_reception %>
</p>

<p>
  <strong>Average reception:</strong>
  <%= @offensive_stat.average_reception %>
</p>

<%= link_to 'Edit', edit_offensive_stat_path(@offensive_stat) %> |
<%= link_to 'Back', offensive_stats_path %>
