<!DOCTYPE html>
<html>
<head>
  <title>Gridiron</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

</head>
<body <%= "class=dark" if params[:controller]=="devise/sessions" %>>
<% if user_signed_in? && current_user.team_id %>
<!--navbar begin-->
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
     <h4 class="logo">Grid<span class="logo-color">i</span>ron</h4>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link <%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %> </li>
        <li class="nav-link <%= 'active' if current_page?(players_path) %>"><%= link_to "Roster", players_path %> </li>
        <li class="nav-link <%= 'active' if current_page?(positions_path) %>"><%= link_to "Depth Chart", positions_path %></li>
        <li class="nav-link <%= 'active' if current_page?(games_path) %>"><%= link_to "Stat Center", games_path %></li>
        <li class="nav-link <%= 'active' if current_page?(calendars_index_path) %>"><%= link_to "Calendar", calendars_index_path %></li>
        <li class="nav-link <%= 'active' if current_page?(itineraries_path) %>"><%= link_to "Manage Itineraries", itineraries_path %></li>
        <li class="nav-link <%= 'active' if current_page?(formations_path) %>"><%= link_to "Playbook", formations_path %></li>
        <li class="nav-link <%= 'active' if current_page?(new_user_invitation_path) %>"><%= link_to "Invite Staff", new_user_invitation_path %></li>
        <li class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>

<% end %>
      </ul>
    </nav>
  </div>

</header>



    <%= yield %>


</body>
</html>
