<!DOCTYPE html>
<html>
<head>
  <title>Gridiron</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

</head>
<body>
<% if user_signed_in? && current_user.team_id %>
<!--navbar begin-->
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <!-- <img src="" alt="Logo Image"> -->
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <nav role="navigation">

      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Home", root_path %> </li>
        <li class="nav-link"><%= link_to "Roster", players_path %> </li>
        <!-- <li class="nav-link"><%= link_to "Player Stats", players_path %></li> -->
        <li class="nav-link"><%= link_to "Depth Chart", positions_path %></li>
        <li class="nav-link"><%= link_to "Stat Center", games_path %></li>
        <li class="nav-link"><%= link_to "Calendar", calendars_index_path %></li>
        <li class="nav-link"><%= link_to "Manage Itineraries", itineraries_path %></li>
        <li class="nav-link"><%= link_to "Invite Staff", new_user_invitation_path %></li>
        <li class="nav-link"><%= link_to "Playbook", new_play_path %></li>
        <li class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
        <li class="nav-link">
          <% if user_signed_in? %>
            <%= current_user.email %>
          <% end %>
        </li>

<% end %>




      </ul>
    </nav>
  </div>

</header>




    <%= yield %>


</body>
</html>
